body {
    margin: 0px;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    
}

.banner.text {
    display: flex;  
    align-items: start;
    color: red;
    text-align: left;
    font-size: 300%;
    border: none;
    margin: 10px 50px;    
}

.app {
    display: flex;

}

.app.navigation {
    display: flex;
    justify-content: start;
    width: 200px;
    height: 100vh;
    border-right: 2px solid black;
}

.app.navigation.panel {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: auto;
    height: auto;
    border: none;
    font-size: 300%;
    color: red;
    transform: rotate(-90deg);
}

.app.header {
    display: flex;
    align-items: start;
    flex-direction: column;
    border-bottom: 2px solid black;
    width: 100%;
    height: auto;
}

.app.header.text.big {
    display: flex;
    width: 100%;
    height: auto;
    font-size: 150%;
    padding: 10px 0px 0px 25px;
    border: none;
}


.app.header.text {
    display: flex;
    width: 100%;
    height: auto;
    font-size: 100%; 
    padding: 0px 0px 10px 25px;
    border-bottom: 2px solid black;
}

.app.links {
    width: 100%;
    height: auto;
    border-bottom: 2px solid black;
}

.app.links.link {
    display: inline-block;
    width: auto;
    margin: 10px 10px;
    border: none;
    color: cornflowerblue;
}

.app.links.link.border {
    border-left: 1px solid black;
    padding-left: 10px;
}

